[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
motor = "*"
python-dotenv = "*"
google-generativeai = "*"
httpx = "*"
pydantic = "*"
langgraph = "*"
langchain = "*"
langchain-core = "*"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
